<div class="form-row">
<div class="form-item">
    <label>Title</label>
    <input type="text" name="title" value="<%= data.title %>">
</div>
</div>
<div class="form-row">
<div class="form-item">
    <label>Description</label>
    <textarea name="description"><%= data.description %></textarea>
</div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>File</label>
        <input type="file" name="file" value="<%= data.file %>">
    </div>
    <div class="form-item">
        <label>Metric</label>
        <input type="text" name="metric" value="<%= data.metric %>">
    </div>
</div>
