<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Course Design Thinking</a>
        <ul>
            <li><a href="/learn">Learn</a></li>
            <li><a href="/ideas">Ideas</a></li>
            <li><a href="/ideas/new">Add Idea</a></li>
            <li><a href="/templates">Templates</a></li>
            <li><a href="/templates/new">Add Template</a></li>
        </ul>
    </nav>
</header>