<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Course Design Thinking</a>
        <ul>
            <li><a href="/learn">Learn</a></li>
            <li><a href="/empathize">Empathize</a></li>
            <li><a href="/define">Define</a></li>
            <li><a href="/ideate">Ideate</a></li>
            <li><a href="/prototype">Prototype</a></li>
            <li><a href="/test">Test</a></li> 
        </ul>
    </nav>
</header>