<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Course Design Thinking</a>
        <ul>
            <li><a href="/learn">Learn</a></li>
            <li class="dropdown"><a href="/create">Create</a>
                <div class="dropdown-content">
                    <a href="/empathize">Empathize</a>
                    <a href="/define">Define</a>
                    <a href="/ideate">Ideate</a>
                    <a href="/prototype">Prototype</a>
                    <a href="/test">Test</a>
                    <a href="/links">Resources</a>
                </div>
            </li>
        </ul>
    </nav>
</header>