<header>
    <nav>
        <a href="/">MyJourney</a>
        <ul>
            <li><a href="/ideas">Ideas</a></li>
            <li><a href="/ideas/new">Add Idea</a></li>
            <li><a href="/templates">Templates</a></li>
            <li><a href="/templates/new">Add Template</a></li>
        </ul>
    </nav>
</header>