<%- include('../create/index') %>
<nav class="header-nav">
    <a class="header-title" href="/test">Test</a>
    <ul>
        <li><a href="/testnotes">Test Notes</a></li>
        <li><a href="/testnotes/new">Add Test Note</a></li>
    </ul>
</nav>