<nav class="stage-header-nav">
    <a class="header-title" href="/test">Test</a>
    <ul>
        <li><a href="/testnotes">Test Notes</a></li>
        <li><a href="/testnotes/new">Add Test Note</a></li>
        <li><a href="/testing">Tests</a></li>
        <li><a href="/testing/new">Add Test</a></li>
        <li><a href="/goals">Goals</a></li>
        <li><a href="/goals/new">Add Goal</a></li>
        <li><a href="/datas">Data</a></li>
        <li><a href="/datas/new">Add Data</a></li>
    </ul>
</nav>