<nav class="header-nav">
    <a class="header-title" href="/create">Create</a>
    <ul>
        <li><a href="/empathize">Empathize</a></li>
        <li><a href="/define">Define</a></li>
        <li><a href="/ideate">Ideate</a></li>
        <li><a href="/prototype">Prototype</a></li>
        <li><a href="/test">Test</a></li> 
    </ul>
</nav>