<%- include('../create/index') %>
<nav class="header-nav">
    <a class="header-title" href="/empathize">Empathize</a>
    <ul>
        <li><a href="/empathizenotes">Notes</a></li>
        <li><a href="/empathizenotes/new">Add Note</a></li>
        <li><a href="/empathymaps">Empathy Maps</a></li>
        <li><a href="/empathymaps/new">Add Empathy Map</a></li>
        <li><a href="/journeymaps">Journey Maps</a></li>
        <li><a href="/journeymaps/new">Add Journey Map</a></li>
        <li><a href="/personas">Personas</a></li>
        <li><a href="/personas/new">Add Persona</a></li>
    </ul>
</nav>