<h2 class="page-header">Recently Added Ideas</h2>
<div>
    <% ideas.forEach(idea => { %>
        <a href="/ideas/<%= idea.id %>">
        <div><%= idea.title %></div>
    </a>
    <% }) %>
</div>
<h2 class="page-header">Recently Added Templates</h2>
<div>
    <% templates.forEach(template => { %>
        <a href="/templates/<%= template.id %>">
        <img height="100" width="150" src="<%= template.coverImagePath %>">
    </a>
    <% })  %>
</div>