<%- include('../ideate') %>
<h2 class="page-header">Edit Design Idea</h2>
<form action="/post-its/<%= postIt.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <div class="btn-row">
        <a class="btn btn-primary" href="/post-its">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>