<%- include('../ideate') %>
<h2 class="page-header">New Design Idea</h2>
<form action="/post-its" method="POST">
    <%- include('_form_fields') %>
    <div class="btn-row">
        <a class="btn btn-primary" href="/post-its">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>