<h2 class="page-header">Edit Template</h2>
<form action="/templates/<%= template.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/templates">Cancel</a>
    <button type="submit">Update</button>
</form>