<h2>New Template</h2>
<form action="/templates" method="POST" enctype="multipart/form-data">
    <%- include('_form_fields') %>
    <a href="/templates">Cancel</a>
    <button type="submit">Create</button>
</form>