<h2>Edit Idea</h2>
<form action="/ideas/<%= idea.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/ideas/<%= idea.id %>">Cancel</a>
    <button type="submit">Update</button>
</form>