<h2>Search Ideas</h2>
<form action="/ideas" method="GET">
    <label>Ttile</label>
    <input type="text" name="title" value="<%= searchOptions.title %>">
    <button type="submit">Search</button>
</form>
<br>
<% ideas.forEach(idea => { %>
    <div><%= idea.title %></div>
<% }) %>