<%- include('../create/index') %>
<nav class="header-nav">
    <a class="header-title" href="/ideate">Ideate</a>
    <ul>
        <li><a href="/post-its">Design Ideas</a></li>
        <li><a href="/post-its/new">Add Design Idea</a></li>
        <li><a href="/ideatenotes">Notes</a></li>
        <li><a href="/ideatenotes/new">Add Note</a></li>
        <li><a href="/links">Resources</a></li>
        <li><a href="/links/new">Add Resource</a></li>
        <li><a href="/keywords">Keywords</a></li>
        <li><a href="/keywords/new">Add Keyword</a></li>
    </ul>
</nav>