<div>
    <label>Title</label>
    <input type="text" name="title" value="<%= rock.title %>">
</div>
<div>
    <label>Big or Little?</label>
    <select name="bigOrLittle">
        <option selected label="Big" value="Big">
        <option label="Little" value="Little">
    </select>
</div>
<div>
    <label>Description</label>
    <textarea name="description"><%= rock.description %></textarea>
</div>