<div class="form-row">
    <div class="form-item">
        <label>Title</label>
        <input type="text" name="title" value="<%= rock.title %>">
    </div>
    <div class="form-item">
        <label>Big or Little?</label>
        <select name="bigOrLittle">
            <option selected label="Big" value="Big">
            <option label="Little" value="Little">
        </select>
    </div>
    <div class="form-item">
        <label>Description</label>
        <textarea rows="5" name="description"><%= rock.description %></textarea>
    </div>
</div>