<nav class="header-nav">
    <a class="header-title" href="/prototype">Prototype</a>
    <ul>
        <li><a href="/prototypes">Prototypes</a></li>
        <li><a href="/prototypes/new">Add Prototype</a></li>
        <li><a href="/types">Types</a></li>
        <li><a href="/types/new">Add Type</a></li>
    </ul>
</nav>