<%- include('../prototype') %>
<h2 class="page-header">New Type</h2>
<form action="/types" method="POST">
    <%- include('_form_fields') %>
    <div class="btn-row">
        <a class="btn btn-primary" href="/types">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>