<div>
    <label>Title</label>
    <input type="text" name="title" value="<%= empathizeNote.title %>">
</div>
<div>
    <label>Description</label>
    <textarea name="description"><%= empathizeNote.description %></textarea>
</div>