<%- include('../prototype') %>
<h2 class="page-header">Edit Prototype</h2>
<form action="/prototypes/<%= prototype.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <div class="btn-row">
        <a class="btn btn-primary" href="/prototypes">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>