<div>
    <label>Title</label>
    <input type="text" name="title" value="<%= journeyMap.title %>">
</div>
<div>
    <label>Description</label>
    <textarea name="description"><%= journeyMap.description %></textarea>
</div>
<div>
    <label>Cover</label>
    <input type="file" name="cover" class="filepond">
</div>