<%- include('../empathize') %>
<h2 class="page-header">New Journey Map</h2>
<form action="/journeymaps" method="POST">
    <%- include('_form_fields') %>
    <div class="btn-row">
        <a class="btn btn-primary" href="/journeymaps">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>