<div class="form-row">
    <div class="form-item">
        <label>Title</label>
        <input type="text" name="title" value="<%= note.title %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Description</label>
        <textarea rows="5" type="text" name="description"><%= note.description %></textarea>
    </div>
</div>