<div>
    <label>Title</label>
    <input type="text" name="title" value="<%= note.title %>">

<div>
    <label>Description</label>
    <textarea type="text" name="description"><%= note.description %></textarea>
</div>