<%- include('../ideate') %>
<h2 class="page-header">Edit Note</h2>
<form action="/ideatenotes/<%= note.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <div class="btn-row">
        <a class="btn btn-primary" href="/ideatenotes/<%= note.id %>">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>