<div>
    <label>Statement ([User] needs (a way) to [doing something] because [insight about user])</label> <br>
    <input type="text" name="statement" value="<%= povstatement.statement %>">
</div>
<div>
    <label>Description</label> <br>
    <textarea name="description"><%= povstatement.description %></textarea>
</div>