<%- include('../define') %>
<h2 class="page-header">New POV Statement</h2>
<form action="/povstatements" method="POST">
    <%- include('_form_fields') %>
    <div class="btn-row">
        <a class="btn btn-primary" href="/povstatements">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>