<%- include('../test') %>
<h2 class="page-header">New Test Note</h2>
<form action="/testnotes" method="POST">
    <%- include('_form_fields') %>
    <div class="btn-row">
        <a class="btn btn-primary" href="/testnotes">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>