<nav class="stage-header-nav">
    <a href="/links" class="header-title">Resources</a>
    <ul>
        <li><a href="/links">Resources</a></li>
        <li><a href="/links/new">New Resource</a></li>
    </ul>
</nav>
<h2 class="page-header">New Resource</h2>
<form action="/links" method="POST">
    <%- include('_form_fields') %>
    <div class="btn-row">
        <a class="btn btn-primary" href="/links">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>