<%- include('../create/index') %>
<nav class="header-nav">
    <a class="header-title" href="/define">Define</a>
    <ul>
        <li><a href="/povstatements">POV Statements</a></li>
        <li><a href="/povstatements/new">Add POV Statement</a></li>
        <li><a href="/rocks">Rocks</a></li>
        <li><a href="/rocks/new">Add Rock</a></li>
        <li><a href="/abstractionladders">Abstraction Ladders</a></li>
        <li><a href="/abstractionladders/new">Add Abstraction Ladder</a></li>
    </ul>
</nav>